/** foreground and background stuff **/
html {
    min-height: 100vh;
}

body {
    background: radial-gradient( #fea972, #17a2b8);
}

.p1, .p2 {
    margin-left: 10px;    
}

.timeused {
    width: 150px;
    border: 5px solid #19479d;
    padding: 0px;
    margin: 20px;
    background-color: #19479d;
    color: white;
    text-align: center;
}

.restartbtn {
    width: 150px;
    padding: 0px;
    margin: 20px;
}

.page-title {
    text-align: center;
    color: white;
}

/** Start/victory screen **/

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #19479d;
     
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}


@keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        background-color: rgba(0,0,0, .8);
        font-size: 10em;
    }
}

/** start/victory screen end **/




.flip-container {
    perspective: 1000;
    min-height: 120px;
    cursor: pointer;
}

.front{
    box-shadow: black;
}

.front:hover {
    background-color: #19479d;
    transition: all 0.5s ease;
}

/** rotation stuff **/
.front, .back {
    backface-visibility: hidden;
    transition: transform 0.3s;
    top: 0;
    left: 0;
    width: 100%;
}

.back {
    transform: rotateY(-180deg);
    position: absolute;
}

.flip-container.flipped .back {
    transform: rotateY(0deg);
}

.flip-container.flipped .front {
    transform: rotateY(180deg);
}

.matched{
    opacity: 0.5;
}


/** fix for smaller screens later
@media (max-width: 600px) {
    .
}